# System stuff
**/.DS_Store
**/Thumbs.db

# IDEs
**/.vscode
**/*.suo
**/.idea

# .NET
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/[Oo]bj/
**/[Bb]in/
**/.vs/
**/tempkey.rsa

## Angular
**/node_modules
**/dist
**/tmp
**/out-tsc
